@using PEOpener.Infrastuture;
@using PEOpener.Layout
@inherits LayoutComponentBase

<main>
    <div @ref="spiner" class="position-fixed top-0 start-0 bg-dark w-100 h-100 bg-opacity-75 @( isLoadComplete ? "d-none" : "d-block")" style="z-index:99999">
        <div class="position-fixed top-50 start-50 translate-middle">
        <Spinner Size="Size.ExtraExtraLarge" Color="Color.Primary"></Spinner>
    </div>
    </div>
    <Layout ShowFooter="true">
        <Header>
            
            <Navbar></Navbar>
        </Header>
        <Main>            
            <div style="height: 94.5vh">
                <Split Basis="10%">
                    <FirstPaneTemplate>
                        <SideBar></SideBar>
                    </FirstPaneTemplate>
                    <SecondPaneTemplate>
                        @Body
                    </SecondPaneTemplate>
                </Split>
            </div>
        </Main>
        <Footer>
            <Footer Text="PE-Opener" />
        </Footer>
    </Layout>   
   
</main>



