@using PEOpener.Components;
@using PEOpener.Infrastuture;
@using PEOpener.Layout
@inherits LayoutComponentBase

<main>
    <LoadingAnimation></LoadingAnimation>
    <Layout ShowFooter="true">
        <Header>
            <Navbar></Navbar>
        </Header>
        <Main>            
            <div style="height: 94.5vh">
                <Split Basis="10%">
                    <FirstPaneTemplate>
                        <SideBar></SideBar>
                    </FirstPaneTemplate>
                    <SecondPaneTemplate>
                        @Body
                    </SecondPaneTemplate>
                </Split>
            </div>
        </Main>
        <Footer>
            <Footer Text="PE-Opener" />
        </Footer>
    </Layout>   
   
</main>



