@inject IJSRuntime JSModule
<div id="hexEditor" style="height: 100%;"></div>
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSModule.InvokeVoidAsync("createHexEditor", "hexEditor", new { });
        }
    }
}
