@inherits ComponentBase

<div @ref="spiner" class="position-fixed top-0 start-0 bg-dark w-100 h-100 bg-opacity-75 @( isLoadComplete ? "d-none" : "d-block")" style="z-index:99999">
    <div class="position-fixed top-50 start-50 translate-middle text-center">
        <Spinner Size="Size.ExtraExtraLarge" Color="Color.Primary"></Spinner>
        <h5 class="text-white ">Loading: <span>@status</span></h5>
    </div>
</div>