@using PEOpener.Infrastuture;

<Table TItem="TableItem" Items="@Items" IsBordered="true" IsStriped="true" TableSize="TableSize.Compact">
	<TableColumns>
		<TableColumn @bind-Field="@context.Key" Width="180" Filterable="true" Sortable="true" />
		<TableColumn @bind-Field="@context.Value" Filterable="true" />
	</TableColumns>
</Table>
@code {
	private List<TableItem>? Items { get; set; }

	public static ShowData _instance;

	public ShowData()
	{
		if (_instance is null)
			_instance = this;
	}

	public void UpdateData(List<TableItem> data) {
		Items = data;
		StateHasChanged();
	}
}
